.archive {
    max-width: 500px;
    margin: 5em 0;

    .post-item {
        padding: 2px 0 0 50px;
        overflow: hidden;
    }

    .post-time,
    .post-title-link {
        font-size: 1rem;
    }

    .post-title-link {
        display: block;
        margin-left: 125px;
        color: var(--accent-green);
        word-wrap: break-word;
        &:hover {
            border-bottom: 0;
            color: var(--accent-green-link-hover);
        }
    }

    .post-info {
        float: left;
        width: 125px;
        color: var(--text-meta);
    }
}
