.post-content *::selection {
  color: #ffffff;
  background-color: var(--bg-selection);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: var(--text-primary);
  font-size: 15px;
  line-height: 1.6;
  background-color: var(--bg-primary);
  font-family: $font-family;
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul.nav,
ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  margin: 1rem 0;
}

a, a:active {
  color: var(--text-heading);
  text-decoration: none;
}

a.nav-list-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: var(--text-nav);
  padding: 0 1px;
  transition: color ease 0.3s;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-green);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &:hover {
    color: white;

    &::after {
      height: 100%;
    }
  }
}

a.nav-list-link.active {
  border-bottom: 4px solid var(--accent-green);
}

a.post-title-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: var(--accent-green-dark);
  padding: 0 2px;
  transition: color ease 0.3s;
  // font-weight: 600;
  border-bottom: 2px dotted var(--accent-green);
  transition: border-bottom-color .2s ease 0s;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: 100%;
    left: -10px;
    bottom: 0;
    // background-color: $orange-color;
  }

  &:hover,
  &:active {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}


// a.post-title-link:hover {
//   border-bottom: 4px solid #42b983;
// }

hr {
  border: 0;
}

code {
  padding: 0.2em 0.4em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125)
}

iframe, video {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}

table {
  padding: 0;
  th {
    font-weight: bold;
    border: 1px solid var(--border-table);
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  thead {
    background-color: var(--bg-primary);
  }
  tbody {
    tr {
      border-top: 1px solid var(--border-table);
      background-color: var(--bg-primary);
    }
    tr:nth-child(2n) {
      background-color: var(--bg-table-stripe);
    }
    td {
      border: 1px solid var(--border-table-cell);
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }
    th :first-child,
    td :first-child {
      margin-top: 0;
    }
    th :last-child,
    td :last-child {
      margin-bottom: 0;
    }
  }
}
