footer {
    padding-bottom: 1px;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid var(--border-light);
        text-align: center;
        p, a {
            color: var(--text-copyright);
            font-size: 14px;
            font-weight: 100;
        }
        a:hover {
            color: var(--text-copyright-hover);
        }
    }
}
