code,
pre {
    font-size: 0.8em;
    background-color: var(--bg-code);
    color: var(--text-code);
    font-family: $code-font-family;
}

.highlight {
    position: relative;
    margin: 1em 0;
    border-radius: 2px;
    line-height: 1.1em;
    background-color: var(--bg-code);
    overflow-x: auto;
    table, tr, td {
        width: 100%;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        background-color: var(--bg-code);
    }
    .gutter {
        display: none;
    }
    .code pre {
        padding: 1.2em 1.4em;
        line-height: 1.5em;
        margin: 0;
        background-color: var(--bg-code);
        .line {
            width: auto;
            height: 18px;
        }
    }
}

%code-base {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-code-label);
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
}

@mixin code-signs($keys) {
    @each $key in $keys {
        .highlight.#{$key} .code:after {
            content: to-upper-case($key);
            @extend %code-base;
        }
    }
}

$signs: ("sql", "ini", "conf", "html", "javascript", "js", "bash", "css", "scss","diff", "java", "xml", "python", "json", "swift", "ruby", "perl", "php", "c", "java", "cpp", "ts");
@include code-signs($signs);

.highlight.cpp .code:after {
    content: 'C++';
}

pre {
    color: var(--text-code);

    .comment,
    .quote {
        color: var(--code-comment);
        font-style: italic
    }
    .keyword,
    .selector-tag,
    .subst {
        color: var(--code-keyword);
        font-weight: bold
    }
    .number,
    .literal,
    .variable,
    .template-variable,
    .tag .attr {
        color: var(--code-number)
    }
    .string,
    .doctag {
        color: var(--code-string)
    }
    .title,
    .section,
    .selector-id {
        color: var(--code-title);
        font-weight: bold
    }
    .subst {
        font-weight: normal
    }
    .type,
    .class .title {
        color: var(--code-type);
        font-weight: bold
    }
    .tag,
    .name,
    .attribute {
        color: var(--code-tag);
        font-weight: normal
    }
    .regexp,
    .link {
        color: var(--code-regexp)
    }
    .symbol,
    .bullet {
        color: var(--code-symbol)
    }
    .built_in,
    .builtin-name {
        color: var(--code-builtin)
    }
    .meta {
        color: var(--code-meta);
        font-weight: bold
    }
    .deletion {
        background: var(--code-deletion-bg)
    }
    .addition {
        background: var(--code-addition-bg)
    }
    .emphasis {
        font-style: italic
    }
    .strong {
        font-weight: bold
    }
}
